# Ignorar archivo de configuración
config.ini

# Ignorar todos los archivos dentro de las carpetas en datos/
datos/cmg/*
datos/des/*
datos/fallas/*
datos/plot_cmg/*
datos/po/*
datos/prg/*
datos/rio/*
datos/tmp/*
datos/zon/*


# Ignorar carpetas y archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Ignorar archivos de sistema (para entornos de desarrollo)
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/

