# Ignorar archivo de configuración
config.ini

# Ignorar todos los archivos dentro de las carpetas en datos/
datos/*


# Ignorar carpetas y archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Ignorar archivos de sistema (para entornos de desarrollo)
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/

